<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <h3>{{ $ctrl.TemaListRes.IdTema + " - " + $ctrl.TemaListRes.TitleTema + ": " + $ctrl.TemaListRes.NameTema }}</h3>
            </div>
            <div class="col-md-6" style="text-align:right;">
                <a class="btn btn-success btn-md" role="button" ui-sref="w3schools">Regresar <i class="fa fa-reply"></i></a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="container-fluid-primary">
            <div ui-view></div>
        </div>
    </div>
    <div class="panel-footer">
        <br>
    </div>
</div>