<div class="modal-header modal-header-info">
    <button type="button" class="close" ng-click="ctrl.Close()"><i class="fa fa-times"></i></button>
    <h2 class="modal-title"><i class="fa fa-info-circle"></i> {{ctrl.TemaListRes.IdTema}}</h2>
</div>
<div class="modal-body">
    <h3>{{ctrl.TemaListRes.TitleTema + " - " + ctrl.TemaListRes.NameTema}}:</h3>
    <p><b>Descripción: </b>{{ctrl.TemaListRes.DescTema}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger btn-md" ng-click="ctrl.Close()">Cancelar <i class="fa fa-reply"></i></button>
</div>