<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <p><b>Ingresa un número:</b></p>
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="$ctrl.Number">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success btn-md" ng-click="$ctrl.Square()">X <sup>2</sup></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <p><b>Resultado:</b></p>
            </div>
            <div class="col-md-8">
                <p>{{ $ctrl.Resultado}}</p>
            </div>
        </div>
    </div>
</div>