<div class="modal-header modal-header-info">
    <button type="button" class="close" ng-click="ctrl.Close()"><i class="fa fa-times"></i></button>
    <h2 class="modal-title"><i class="fa fa-info-circle"></i> {{ctrl.PuntoListRes.IdPunto}}</h2>
</div>
<div class="modal-body">
    <h3>{{ctrl.PuntoListRes.TitlePunto + " - " + ctrl.PuntoListRes.NamePunto}}:</h3>
    <p><b>Descripción: </b>{{ctrl.PuntoListRes.DescPunto}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger btn-md" ng-click="ctrl.Close()">Cancelar <i class="fa fa-reply"></i></button>
</div>