<style>
    .modal-header-info {
        color:#fff;
        padding:9px 15px;
        border-bottom:1px solid #eee;
        background-color: #5bc0de;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
</style>

<div class="modal-header modal-header-info">
    <button type="button" class="close" ng-click="ctrl.Close()"><i class="fa fa-times"></i></button>
    <h2 class="modal-title"><i class="fa fa-pencil-square-o"></i> Formulario</h2>
</div>
<div class="modal-body">
    <form angular-validator-submit="ctrl.AddInfo()" name="FormAddInfo" novalidate angular-validator>
        <div class="row">
            <div class="col-md-12">
                <p><i class="fa fa-user"></i> <b>Nombre completo:</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <input type="text" ng-model="ctrl.Nombre" name="InputNombre" class="form-control" placeholder="Nombre" validate-on="dirty" ng-pattern="/^[a-zA-Z\s]*$/" required required-message="'Obligatorio'" invalid-message="'Es invalido'">
                </div>
                <div class="col-md-4">
                    <input type="text" ng-model="ctrl.ApellidoPaterno" name="InputApellidoPaterno" class="form-control" placeholder="Apellido paterno" validate-on="dirty" ng-pattern="/^[a-zA-Z\s]*$/" required required-message="'Obligatorio'" invalid-message="'Es invalido'">
                </div>
                <div class="col-md-4">
                    <input type="text" ng-model="ctrl.ApellidoMaterno" name="InputApellidoMaterno" class="form-control" placeholder="Apellido materno" validate-on="dirty" ng-pattern="/^[a-zA-Z\s]*$/" required required-message="'Obligatorio'" invalid-message="'Es invalido'">
                </div>
            </div>
        </div>
        <hr>
        <br>
        <div class="row">
            <div class="col-md-12">
                <p><i class="fa fa-home"></i> <b>Dirección:</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <input type="text" ng-model="ctrl.Calle" name="InputCalle" class="form-control" placeholder="Calle" validate-on="dirty" required required-message="'Es obligatorio'">
                </div>
                <div class="col-md-4">
                    <input type="text" ng-model="ctrl.Colonia" name="InputColonia" class="form-control" placeholder="Colonia" validate-on="dirty" required required-message="'Es obligatorio'">
                </div>
                <div class="col-md-4">
                    <input type="text" ng-model="ctrl.Municipio" name="InputMunicipio" class="form-control" placeholder="Municipio" validate-on="dirty" required required-message="'Es obligatorio'">
                </div>
            </div>
        </div>
        <hr>
        <br>
        <div class="row">
            <div class="col-md-12">
                <p><i class="fa fa-phone"></i> <b>Datos de contacto:</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <input type="number" ng-model="ctrl.Telefono" name="InputTelefono" class="form-control" placeholder="Teléfono" validate-on="dirty" required required-message="'Es obligatroio'" ng-pattern="/^\d{10}$/" invalid-message="'Es invalido'">
                </div>
                <div class="col-md-6">
                    <input type="email" ng-model="ctrl.Correo" name="InputCorreo" class="form-control" placeholder="correo electrónico" validate-on="dirty" required required-message="'Es obligatorio'" invalid-message="'Es invalido'">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-info btn-block">Guardar <i class="fa fa-save"></i></button>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger btn-md" ng-click="ctrl.Close()">Cancelar <i class="fa fa-reply"></i></button>
</div>