<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <h3>{{ $ctrl.TestListRest.idTest + " - " + $ctrl.TestListRest.nameTest + ": " + $ctrl.TestListRest.tituloTest }}</h3>
            </div>
            <div class="col-md-6" style="text-align:right;">
                <a class="btn btn-success btn-md" role="button" ui-sref="test_main.list.test">Regresar <i class="fa fa-reply"></i></a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <h4><b>Descripción:</b></h4>
        <p>{{$ctrl.TestListRest.descTest}}</p>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4><b>Datos del usuario</b></h4>
                </div>
                <br>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.ModalAddInfo()"><i class="fa fa-pencil"></i> Ingresar datos</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p><i class="fa fa-user"></i> <b>Nombre Completo:</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>Nombre: {{$ctrl.Nombre}}</p>
                </div>
                <div class="col-md-4">
                    <p>Apellido Paterno: {{$ctrl.ApellidoPaterno}}</p>
                </div>
                <div class="col-md-4">
                    <p>Apellido Materno: {{$ctrl.ApellidoMaterno}}</p>
                </div>
            </div>
            <hr>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <p><i class="fa fa-home"></i> <b>Domicilio:</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>Calle: {{$ctrl.Calle}}</p>
                </div>
                <div class="col-md-4">
                    <p>Colonia: {{$ctrl.Colonia}}</p>
                </div>
                <div class="col-md-4">
                    <p>Municipio: {{$ctrl.Municipio}}</p>
                </div>
            </div>
            <hr>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <p><i class="fa fa-phone"></i> <b>Datos de contacto:</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Teléfono: {{$ctrl.Telefono}}</p>
                </div>
                <div class="col-md-6">
                    <p>Correo electrónico: {{$ctrl.Correo}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <br>
    </div>
</div>