<div class="jumbotron">
  <p class="lead">
    <img src="images/angularjs.png" alt="I'm Yeoman" style="width:128px; height:128px;"><br>
    'Allo, 'Allo! Always a pleasure create your apps.
  </p>
</div>
<div class="row marketing" style="text-align:center">
  <h4>HTML5 Boilerplate</h4>
  <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
  <h4>Angular</h4>
  <p>AngularJS is a toolset for building the framework most suited to your application development.</p>
</div>